html {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    background-image: url(curicimages/gotchubackgroundgradient.png);
    background-size: cover; 
}
body {
    margin: 0px;
    padding: 0px;
}

.footer {
    background-color: #ED7358;
    margin-top: 120px;
    padding: 50px;
    color: white;
    font-size: 18pt;
}

.footer img {
    width: 50px;

}

.footer div {
    padding: 10px;
}
.footer div p {
    display: inline;
   
}

.footer span{
    display: inline;
}

.handle {
    padding-bottom: 20px;
}
.foottitle {
    font-size: 30pt;
    font-weight: bold;
}

/* this css styling is for all navbar stylings */

.navbar {
    list-style-type: none;
    list-style: none;
    background-color: white;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    position: fixed;
    width: 100%;
    border-bottom: solid 1px white;
}

.navitem {
    transition: .2s;
    margin: 0px;
    float: right;
    display: block;
    padding: 10px;
    margin-left: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    margin: 10px;
    margin-right: 20px;

}

.navitem a {
    text-decoration: none;
    color: #ED7358;
    font-weight: bold;

}

.navitem:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: solid 2px #ED7358;
}

.homecontent{
    margin-top: 60px;
    color: #ED7358;
}
.homecontent h2{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 25pt;
}

.titleitem {
    display: inline;
    font-size: 30pt;
    letter-spacing: 1.5pt;
    margin-left: 20px;
    padding: 5px;
}

.titleitem a{
    text-decoration: none;
    color: #ED7358 ;
}

@media screen and (max-width: 920px){

    .titleitem a{
        color: black;
    }

    .navitem a{
        color: black;
    }

}

#homeheader{
    margin-top: 4em;
    color: #ED7358;;
    font-size: 50pt;
    text-align: center;

}

.homecontent p{
    text-align: center;
    color: #ED7358;
}

/* About Us Styles */

.AboutUsContent {
    margin-top: 100px;
}

/* End of About Us Styles */

/*Curriculm style*/
.curicbackground{
    background-image: url(curicimages/gotchubackgroundgradient.png);
    background-size: cover; 
}
.curicheader{
    text-align: center;
    padding-top:30px;
    padding-bottom:30px;
    font-size:40pt;
}
.curicsecondheader{
    text-align:center;
    
    font-size:18pt;
    padding-bottom:30pt;
    margin-left:100px;
    margin-right:100px;
}
.curicpinkbox{
    width:420px;
    height:504px;


}
.curicgraybox{
    margin-left:40px;
    width:420px;
    height:504px;
}
.curicorangebox{
    margin-left:40px;
    width:420px;
    height:504px;

}
.curicvidboxes{
    position:relative;
    width:1355px;
    margin-left:auto;
    margin-right:auto;
    
    height:500px;
}
.curicplaceholderb{
    position:absolute;
    top:20px;
    left:15px;
    width: 390px;
    height:190px;
    background-color:black;


}

.curicplaceholderb2{
     position:absolute;
    top:20px;
    left:0px;
    width: 390px;
    height:190px;
    background-color:black;
}
.curicplaceholderb3{
     position:absolute;
    top:20px;
    right:16px;
    width: 390px;
    height:190px;
    background-color:black;
}
.curictextbox{
    top:200px;
    position: absolute;
    left:15px;
    
    width:390px;
}
.curicminitext{
    padding-right:70px;
    color:black;
    
    
}

.curicbeginbutton{
    font-size:16pt;
    width:100px;
    height:30px;
    padding-top:3px;
    text-align: center;
    border:solid white 2px;
    border-radius: 20px;
    color:white;


}
.curicbeginbutton:hover{
    background-color:white;
    color:rgb(239,149,131);
}
.curicbeginbutton1{
    font-size:16pt;
    width:100px;
    height:30px;
    padding-top:3px;
    text-align: center;
    border:solid white 2px;
    border-radius: 20px;
    color:white;


}
.curicbeginbutton1:hover{
    background-color:white;
    color:rgb(212,210,210);
}
#curicbeginbutpos{
    position: absolute;
/*    left:140px;*/
}
.curictextbox2{
    top:200px;
    position: absolute;
    left:0px;
}
.curicminitext2{
    padding-right:70px;
    width:390px;
    border:
}
#curicbeginbutpos2{

}
.curictextbox3{
    top:200px;
    position: absolute;
    left:2px;
}
.curicminitext3{
   padding-right:20px;
}
.curicallpinkbox1{
   
    width:430px;
    height:504px;
    position: absolute;
    top:0px;
}
.curicallgraybox2{
    
    width:410px;
    height:504px;
    position: absolute;
    left:480px;
    top:0px;
    
}
.curicallorangebox3{
    
    width:410px;
    height:504px;
    position:absolute;
    right:5px;
    top:0px;
}
#freelancetutorial{
    position:absolute;
    left:0px;
    
}
#curicpinkbackground{
    width:900px;
    margin-left:220px;
    position:absolute;
    z-index: 1;
    height:720px;
}
.curicplaceholderbig1{
/*
    width:600px;
    height:300px;
*/
    z-index:2;
    position:absolute;
    top:20px;
    left:255px;
}
.curicpinkparent{
    position:relative;
    
}
.curicminititlebig1{
    
    font-size:30pt;
    
}
.curictextboxbig1{
    position: absolute;
   
    z-index:1;
    top:480px;
    width:600px;
    left:255px;
}
#curicquizbutpos{
    position: absolute;
    right:-200px;
    top:40px;
}
#curicquizbutpos1{
    position: absolute;
    right:-200px;
    top:85px;
}
#curicquizbutpos2{
    position: absolute;
    right:-200px;
    top:130px;
}
#curicquizbutpos3{
    position:absolute;
    right:-200px;
    top:175px;
}
.curicopacity{
    opacity: .2;
}
.curicquixboxright{
    width:430px;
    height:720px;
    position:absolute;
    right:0px;
    top:-85px;
}
.curicquiztext{
    position:absolute;
    top:-70px;
    font-size: 30pt;
    left:20px;
}
.curicquiztestknow{
    font-size:12pt;
    padding-top:10px;
    padding-bottom:10px;
}
.curicpinkboxquestion1{
    padding-top:10px;
    font-size:12pt;
    
    padding-right:7px;
}
.curicpinkquestion1{
    font-size:10pt;
    
    width:50px;
    padding-top:5px;
}
.curicpinkquestion2{
    font-size:10pt;
    
    width:250px;
    padding-top:7px;
}
#curicpinksubmitbutton{
    margin-top:15px;
}
.curicgreenhighlight{
    background-color:green;
}
.curicquixboxright2{
    width:430px;
    height:720px;
    position:absolute;
    right:0px;
    top:-85px;
}
.curichelptext{
    position:relative;
    z-index:1;
    
}
#curicpinkboxtitle{
    position:absolute;
    font-size:30pt;
}
#curicpinkboxtitle1{
    position:absolute;
    font-size:50pt;
}
#curichelptitleoof{
    position: absolute;
    font-size:30pt;
    left:20px;
    top:-70px;
}
#curichelpintro{
    position:absolute;
    left:20px;
}
#curicpinkchatbot{
    border: black 1px solid;
    width:390px;
    height:500px;
    margin-left:20px;
    position: absolute;
    top:50px;
    overflow-x: hidden; 
    overflow-x: auto;
    
}
#curicpiunkchatboxLEFT{
/*    border: black 1px solid;*/
    width:190px;
    height:2000px;
    position: absolute;
    top:0px;
    left:0px;
    overflow-x: hidden; 
    
}
#curicpiunkchatboxRIGHT{
/*    border: black 1px solid;*/
    width:190px;
    height:2000px;
    position: absolute;
    right:0px;
    top:0px;
    overflow-x: hidden; 
    
}

#curicpinkhelpaskbox{
   position: absolute;
    left:20px;
    top:570px;
}
#curicpinkhelptextbox{
    
}
#curicpinkhelpchatbotaskbutton{
    position: absolute;
    left:20px;
    top:570px;
}
#curicpinkhelpaskbutton{
    position: absolute;
    right:25px;
    top:570px;
}
.curicquixboxright3{
    width:430px;
    height:720px;
    position:absolute;
    right:0px;
    top:-85px;
}
.curicpinkscriptbox{
    z-index:1;
    position: relative;
}
#curicpinkboxscript{
    position: absolute;
    font-size:30pt;
    left:20px;
    top:-70px;
}
.curicpinkscriptintrotext{
    margin-left:20px;
    padding-bottom:10px;
}
#curicpinkscriptminibox{
    width:390px;
    height:570px;
    position: absolute;
    left:20px;
    border:black solid 1px;
    overflow-x: hidden; 
    overflow-x: auto;
    
}

/*GRAY BOX STUFF*/
#curicgraybackgroundfin{
    width:900px;
    margin-left:220px;
    position:absolute;
    z-index: 1;
    height:720px;
}
#curicquizbutposF{
    position: absolute;
    right:-200px;
    top:40px;
}
#curicquizbutpos1F{
    position: absolute;
    right:-200px;
    top:85px;
}
#curicquizbutpos2F{
    position: absolute;
    right:-200px;
    top:130px;
}
#curicquizbutpos3F{
    position: absolute;
    right:-200px;
    top:175px;
}
.curicgrayquizbox{
    
}
.curicgrayquizboxright{
    width:430px;
    height:720px;
    position:absolute;
    right:0px;
    top:-170px;
}
.curicgrayquizboxtext{
/*    z-index:1;*/
    position: relative;
    
    
}
.curicgrayboxtext{
    position: absolute;
    top:-660px;
    right:320px;
    
    
    font-size:40px;
    
}
.curicgrayquizintro{
    position: absolute;
    top:-600px;
    right:60px;
}
.curicgrayquizquestions{
    position: absolute;
    top:-570px;
    right:20px;
    width:390px;
    height:550px;
    
}
#curicgraysubmitbutton{
    position: absolute;
    top:-10px;
    right:307px;
}
.curicgrayhelpboxtitle{
    font-size:40px;
    position: absolute;
    right:320px;
    top:-150px;

}
.curicgrayhelpintro{
    
    width:390px;
    position: absolute;
    right:20px;
    top:-90px;
}
.curicgrayhelpchatbox{
    position: absolute;
    width: 390px;
    border: black 1px solid;
    height:500px;
    right:18px;
    top:-30px;

}
#curicgrayhelptextbox{
    
    
    
}
#curicpinkhelpaskbox{
    position: absolute;
    left:945px;
    top:485px;
        
    
    
}
#curicgrayhelpaskbutton{
    position: absolute;
    right:20px;
    bottom:-20px;
}
.curicgrayscriptboxtitle{
    font-size:30pt;
    position: absolute;
    right:295px;
    top:-150px;
}
.curicgrayscriptintro{
    position: absolute;
    right:230px;
    top:-90px;
}
.curicgrayscriptscrollbox{
    position: absolute;
    width: 390px;
    border: black 1px solid;
    height:500px;
    right:18px;
    top:-30px;
    overflow-x: hidden; 
    overflow-x: auto;
    
}
/*ORAGNE BOX STUFF ORANGE BOX STUFF*/
#curicorangebackgroundfin{
    width:900px;
    margin-left:220px;
    position:absolute;
    z-index: 1;
    height:720px;
}
.curicclienttemplate{
    position: relative;
}
.curicplaceholderbig1orange{
    position: absolute;
    z-index: 1;
    left:255px;
    top:-150px;
    
}
.curictextboxbigorange1{
    position: absolute;
    z-index: 1;
/*    border: black solid 1px;*/
    width:750px;
    top:300px;
    left:250px;
}
    /*Buttons on orange home screen*/
#curicquizbutposC{
    position: absolute;
    right:-90px;
    top:40px;
}
#curicquizbutpos1C{
   position: absolute;
   right:-90px;
   top:85px; 
}
#curicquizbutpos2C{
   position: absolute;
   right:-90px;
   top:130px; 
}
#curicquizbutpos3C{
   position: absolute;
   right:-90px;
   top:175px; 
}
.curicorangequizboxright{
    width:430px;
    height:720px;
    position:absolute;
    right:0px;
    top:-170px;
}
.curicorangeboxtext{
    position: absolute;
    top:-160px;
    right:320px;
    font-size:40px;
}
.curicgrayorangeintro{
    position: absolute;
    right:0px;
    right:60px;
    top:-100px;
    
}
.curicgrayorangequestions{
    position: absolute;
    top:-70px;
    right:20px;
    width:390px;
    height:550px;
    
}
#curicorangesubmitbutton{
    right:310px;
    position: absolute;
    bottom:-30px;
}
.curicorangehelpboxtitle{
    position: absolute;
    top:-160px;
    right:320px;
    font-size:40px;
}
.curicorangehelpintro{
    width:390px;
    position: absolute;
    right:20px;
    top:-90px;
}
.curicorangehelpchatbox{
    position: absolute;
    width: 390px;
    border: black 1px solid;
    height:500px;
    right:18px;
    top:-30px;
}
#curicorangehelpaskbox{
    right:154px;
    position: absolute;
    bottom:-20px;
        
}
#curicorangehelpaskbutton{
    right:20px;
    position: absolute;
    bottom:-20px;
}
/*Orange Script */
.curicorangescriptboxtitle{
    position: absolute;
    right:295px;
    top:-155px;
    font-size:40px;
}
.curicorangescriptintro{
    position: absolute;
    right:230px;
    top:-100px;
    
}
.curicoragnescriptscrollbox{
    position: absolute;
    width: 390px;
    border: black 1px solid;
    height:500px;
    right:18px;
    top:-30px;
    overflow-x: hidden; 
    overflow-x: auto;

}
/* CHAT BOX CSS STUFF*/
.curicpinkCHATTEXT{
    border:1px solid white;
    background-color:white;
    border-radius:10px;
    padding-left:5px;
    padding-right:5px;
    
    
}
.curicpinkCHATTEXTLEFT{
    border:1px solid black;
    background-color:black;
    color:white;
    border-radius:10px;
    padding-left:5px;
    padding-right:5px;
    
    
}
.curicpinkCHATTEXTHIDE{
    border:1px solid white;
    visibility: hidden;
    border-radius:10px;
    padding-left:5px;
    padding-right:5px;
    }



/*Curriculum Media Query begins here */
@media screen and (max-width:750px){
    .curicheader{
        
        font-size:20pt;
        
    }
    .curicsecondheader{
        font-size:12pt;
        padding-left:50px;
        padding-right:50px;
    }
    .curicvidboxes{
        width: 500px;
        height:2000px;
        
    }
    .curicpinkbox{
        margin-left:40px;
        margin-bottom:20px;
    }
    .curicgraybox{
        margin-bottom:20px;
    }
    .curicorangebox{
        margin-bottom:20px;
    }
    .curicallpinkbox1{
        top:0px;
        left:40px;
    }
    .curicallgraybox2{
        top:522px;
        left:55px;
    }
    .curicallorangebox3{
        top:1050px;
        left:52px;
    }
   
    
    
}
/*end Curriculm style*/

/* Testimonials style*/
    #testtitle {
        padding-top: 20px;
        margin-left: 40px;
        margin-bottom: 50px;
    }

    .testcontainer {
        width: 70%;
        margin: auto;
        background-color: #ED7358;
        background: linear-gradient(180deg, #ED7358 10%, #e68a75 100%);
        margin-bottom: 40px;
        color: white;
        padding: 30px;
        padding-bottom: 100px;
        border-radius: 30px;
    }

    .testname {
        font-size: 22pt;
        font-weight: bolder;
        margin-bottom: 10px;

    }

    .testquoteleft {
        font-family: serif;
        font-size: 100pt;
        padding-top: 50px;
        line-height: 20pt;
        opacity: 0.3;
    }

    .testquoteright {
        font-family: serif;
        font-size: 100pt;
        float: right;
        opacity: 0.3;
    }

    .testquotebody {
        margin: auto;
        width: 80%;
        font-size: 18pt;
    }
    .testpic {
        width: 90px;
        float: right;
        position: relative;
        top: -38px;
        z-index: 1;
    }
    .testnavbar {
        list-style-type: none;
        list-style: none;
        background-color: #ED7358;
        margin: 0px;
        overflow: hidden;
        top: 0px;
        position: fixed;
        width: 100%;
        border-bottom: solid 1px white;
        z-index: 10;
    }
/* end Testimonials style*/


/* start of About Us style */
        
.meet{
    font-size: 50px;
    font-weight: bolder;
    color: #ED7358;
    width: 92%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 80px;
}

/* end of About us style */


/* Investor styles - Ant */



/* End of Investor - Ant */